.wrap{
	background: rgb(249, 130, 12);
	width: 900px;
	margin: 10px auto;
}
 
/*bagian header*/
.header{
	background: rgb(249, 205, 6);
	/*height: 50px;*/
    font-family: sans-serif;
	padding: 2px 10px;
}
 
/*akhir header*/
 
/*bagian menu*/
.wrap .menu{
	background: orange;
}
 
.wrap .menu ul{
	padding: 0;
	margin: 0;
	background: rgb(249, 130, 12);
	overflow: hidden;
    font-family: sans-serif;
}
 
.wrap .menu ul li{
	float: left;
	list-style-type: none;
	padding: 10px;
}
/*akhir menu*/
 
.clear{
	clear: both;
}
 
.badan{
	height: 450px;
}
/*bagian sidebar*/
.wrap .badan .sidebar{
	background: orange;
	float: left;	
	width: 25%;
	height: 100%;
}
 
/*akhir sidebar*/
 
.wrap .badan .content{
	background: rgb(229, 225, 225);
	float: left;
	height: 100%;
	width: 75%;	
}
 
.wrap .footer{
	width: 100%;
	padding: 10px;
}

#h1{ color: aliceblue;}